<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <h1>Welcome to our Wiki!</h1>

    <p>Visit /PageName to view a page.</p>

    <p>
      <a href="/new">Or, you can create a new page</a>
    </p>
  </body>
</html>
